<main>
  <div>
  
    <h2 style="color:red">{{name}}</h2>
    <li><i style="color:darkblue">{{description}}</i></li>
    <br>    
    {{#with history}}
      year:{{year}}
      <br>
      founder: {{founder}}
    {{/with}}
    <br>
    <br>
    <b style="color:blue">Types:</b>
    {{#each types}}
      <li>{{this}}</li>
    {{/each}}
    <br>
    <br>
    <b style="color:blue">Syntax:</b>
    <br>
    <ul>
    {{#with syntax}}
      <i style="color:darkblue">variables:</i>
      <br>
      <Ul>
        {{#each variables}}
          <li>{{this}}</li>
        {{/each}}           
      </Ul>
      <i style="color:darkblue">functions:</i>
      <Ul>
        {{#each functions}}
          <li>{{this}}</li>
        {{/each}}           
      </Ul>
      <i style="color:darkblue">conditionals:</i>
      <Ul>
        {{#each conditionals}}
          <li>{{this}}</li>
        {{/each}}           
      </Ul>
      <i style="color:darkblue">loops:</i>
      <ul>
        {{#each loops}}
          <li>{{this}}</li>
        {{/each}}           
      </ul>
      <i style="color:darkblue">classes:</i>
      <ul>
        {{#each classes}}
          <li>{{this}}</li>          
      </ul>
        {{/each}} 
    {{/with}} 
    </ul> 
    <br>
    <br>
    <b style="color:blue">Features:</b>   
    <ul>
      {{#each features}}
        <li>
          {{this}}
        </li>
      {{/each}}
    </ul>  
    <br>
    <br>
    <b style="color:blue">Libraries:</b>   
    <ul>
      {{#each libraries}}
        <li>
          {{this}}
        </li>
      {{/each}}
    </ul>
    <br>
    <br>
    <b style="color:blue">Tools:</b>   
    <ul>
      {{#each tools}}
        <li>
          {{this}}
        </li>
      {{/each}}
    </ul>
    <br>
    <br>
    <b style="color:blue">Community:</b>   
    <ul>
      {{#each community}}
        <li>
          {{name}}
          ({{type}})
        </li>
      {{/each}}
    </ul>      
  
  </div> 
</main>

