<main  class='p-5'>  

{{>breadcrumb}}
  <div class='row col-12'>

    {{#with newsData}}
        <div class='card p-0 mb-4'>
          <img
            class='crd-img-top'
            src={{photo}}
            alt='cat photo'
          />
        </div>

        {{#with head}}
          <h2>{{heading}}</h2>
          <p>{{description}}</p>
        {{/with}}

        {{#each body}}               
              <h4 class="mt-3">{{title}}</h4>
              <p>{{text}}</p>              
        {{/each}}
    {{/with}}   

    <div class="my-5">
      <hr />
    </div>

    {{#with newsOtherBlock}}
    <h2 class='text-center pt-5'>{{title}} </h2>
      {{#each cards}}
            {{>shoppost}}        
      {{/each}}
    {{/with}}

    <div class="my-5">
      <hr />
    </div>

    {{>shopaction}}

    <div class="mt-5 mb-0">
      <hr />
    </div>
  </div>

</main>


