<main class='m-5'>
  {{#with header}}
    <h1>{{title}}</h1>
    {{#with button}}
      <a
        class='btn btn-outline-dark'
        href={{link}}
      >{{text}}</a>
    {{/with}}
  {{/with}}
  <hr class='my-5' />

  {{#each goodsBlock}}
    {{>cartGoodsitem}}
  {{/each}}

  <hr class='my-5' />

  {{#with total}}
    <h3 class="my-3">{{title}}</h3>
    <h2>{{amount}}</h2>
    <p>{{delivery}}</p>
    {{#each buttons}}
        {{#if isSuccess}}
          <a
            class='btn btn-Success my-2' href={{link}}
          >{{text}}</a>
        {{/if}}
        {{#if isOutline}}
          <a
            class='btn btn-outline-Success my-2' href={{link}}
          >{{text}}</a>
        {{/if}}
        <br>
      {{/each}}
  {{/with}}

  <hr class='my-5' />

  {{#with goodsOtherBlock}}
    <h4 class="my-3 text-center">{{title}}</h4>
    <div class="row">
    {{#each cards}}
      {{>shopcard}}
    {{/each}}
    </div>
  {{/with}}
    
   <hr class='my-5' />

  {{#with subscribe}}
    <div class='card  text-bg-dark'>
      <div class='card-body'>
        <h2>{{header}}</h2>
        <p class='py-3'>{{description}}</p>
        {{#each buttons}}
          <a class='btn btn-primary my-2' href={{link}} >
              {{text}}</a>
              <br>
        {{/each}}      
      </div>
    </div>
  {{/with}}

  <hr class='my-5' />
</main>