<main class='p-5'>

  <hr />

  <div class='row'>
    {{#with newsBlock}}
      {{>shoppost}}
    {{/with}}
  </div>

  <div class='py-5'><hr /></div>

  {{#with goodsBlock}}
    <div class='row'>
      <div class='col-12'>
        <div class='nav nav-tabs'>
          {{#each tabs}}
            <div class='nav-item col-2'>
              {{#if isActive}}
                {{#if isDisabled}}
                  <a
                    href='#'
                    class='nav-link active disabled'
                  >{{text}}</a>
                {{else}}
                  <a href='#' class='nav-link active'><b
                    >{{text}}</b></a>
                {{/if}}
              {{else}}
                {{#if isDisabled}}
                  <a
                    href='#'
                    class='nav-link disabled'
                  >{{text}}t</a>
                {{else}}
                  <a href='#' class='nav-link'>{{text}}</a>
                {{/if}}
              {{/if}}
            </div>
          {{/each}}
        </div>

        <div class='row mt-5'>
          {{#each cards}}
            <div class='col-4'>
              <div class='card'>
                <img
                  class='crd-img-top'
                  src={{image}}
                  alt={{title}}
                />
                <div class='card-body'>
                  <div class='card-title'>
                    <h5>{{title}}
                      {{#if isHot}}
                        <span
                          class='badge text-bg-warning rounded-pill mx-1'
                        >HOT</span>
                      {{/if}}
                      {{#if isNew}}
                        <span
                          class='badge text-bg-primary rounded-pill mx-1'
                        >Нове</span>
                      {{/if}}
                    </h5>
                  </div>

                  <p>{{description}}</p>

                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  {{/with}}

  <div class='py-5'><hr /></div>

  {{#with subscribe}}
    <div class='col-12'>
      <div class='card text-bg-dark'>
        <div class='card-header'>
          <h2>{{header}}</h2>
        </div>
        <div class='card-body'>
          <p>{{description}} </p>
          {{#each buttons}}
            <div>
              <a
                class='btn btn-primary m-1'
                href={{link}}
              >{{text}}</a>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  {{/with}}

  <div class='py-5'><hr /></div>

  {{#with service}}
    <div class='col-12'>
      <div class='card p-2 text-bg-success text-center'>
        <div class='card-=header mb-4'>
          <h2>{{title}}</h2>
        </div>
        <div class='card-body'>
          <p>{{description}} </p>
          {{#each buttons}}
            <div>
              <a
                class='btn btn-primary m-2'
                href={{link}}
              >{{text}}</a>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  {{/with}}

  <div class='py-5'><hr /></div>

</main>