<div>
  <main>
    {{#with web}}
      <section>
        <h2>WEB:</h2>
        <br />
        <hr />
        {{#each languages}}
          <strong>Language:
            {{name}}</strong>
          <br /><br />
          version:
          {{version}}
          <br /><br />
          <i>
            {{description}}
          </i>
          <br /><br />

          <ul>
            {{#each functions}}

              <li>
                <strong>functions:</strong>
                <br />
                <strong>{{name}}</strong>
                <br />
                <i>
                  {{description}}
                </i>
                <br />
                <br />
                <strong>parameters:</strong>
                <ul>
                  {{#each parameters}}
                    <li>
                      <strong>{{name}}</strong>
                      <br />
                      type:{{type}}
                      <br />
                      <i>
                        {{description}}
                      </i>
                    </li>
                    <br />
                  {{/each}}
                </ul>
              </li>
            {{/each}}
          </ul>

          <ul>
            {{#each elements}}
              <strong>elements:</strong>
              <li>
                <strong>{{name}}</strong>
                <br />
                <i>
                  {{description}}
                </i>
                <br />
                <br />
                <strong>attributes:</strong>
                <ul>
                  {{#each attributes}}
                    <li>
                      <strong>{{name}}</strong>
                      -
                      <i>
                        {{description}}
                      </i>
                    </li>
                    <br />
                  {{/each}}
                </ul>
              </li>
            {{/each}}
          </ul>

          <ul>
            {{#each properties}}
              <strong>properties:</strong>
              <br />
              <li>
                <strong>{{name}}</strong>
                <br />
                <i>
                  {{description}}
                </i>
                <br />
                <br />
                <ul>
                  <strong>values:</strong>

                  {{#each values}}
                    <li>
                      {{value}}
                      -
                      <i>
                        {{description}}
                      </i>
                    </li>
                    <br />
                  {{/each}}
                </ul>
              </li>
            {{/each}}
          </ul>
          <hr />

        {{/each}}
      </section>

    {{/with}}
  </main>

</div>