<div class='card my-3'>
  <div class='row card-body'>
    <img
      class='col-2'
      src={{image}}
      alt={{name}}
      height='140px'
    />
    <div class='col-4'>
      <h5>{{name}}</h5>
      <p>{{description}}</p>
    </div>

    {{#with price}}
      <div class='col-2'>
        <br />
        <h6>{{title}}</h6>
        <h5>{{value}}</h5>
      </div>
    {{/with}}
    <div class='col-2'>
      <br />
      <br />
      <h6>{{amount}}</h6>
    </div>

    <div class='col-2'>
      {{#each buttons}}
        {{#if isPrimary}}
          <button
            class='btn btn-primary my-3'
          >{{text}}</button>
        {{/if}}
        {{#if isDanger}}
          <button class='btn btn-danger'>{{text}}</button>
        {{/if}}
      {{/each}}
    </div>
  </div>

</div>