<a href='{{href}}' {{#if blank}} target=_blank{{/if}}> {{text}}</a>

{{#if line}}
   {{line}}
{{/if}}

{{!-- {{#if blank}}
  <a href='{{href}}' target='_blank'> {{text}}</a>
{{else}}
  <a href='{{href}}'> {{text}}</a>
{{/if}} --}}